# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
gunicorn
Click
Flask
Flask-FlatPages
Frozen-Flask
itsdangerous
Jinja
Markdown3
MarkupSafe
Pygments
PyYAML
Werkzeug